In [2]:
n1="34"
print(n1,type(n1))

34 <class 'str'>

In [5]:
n1=int(input("enter number"))
print(n1,type(n1))

enter number 10

10 <class 'int'>

In [9]:
# Condition
age=int(input("Enter age:"))
if age < 18:
    print("Child")
elif age < 60:
    print("Adult")
else:
    print("Senior")

Enter age: 55

Adult

In [11]:
#Repitative loops
for i in range(5):
    print(i)

0
1
2
3
4

In [14]:
for i in range(1,5):
    print(i)

1
2
3
4

In [15]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [8]:
i = 1
while i<5:
    print(i)
    i=i+1

1
2
3
4

In [2]:
# Fucntion
def hello():
    print("hello from us")

In [3]:
hello()

hello from us

In [4]:
# Function with Parameter
def addPlus(n1,n2):
    return n1+n2

In [7]:
res=addPlus(10,5)
print(res)

15

In [9]:
# Data structers - let you know how to store the data
# divided in to 2 parts
# 1- mutable(can change)
# list, set , dict
# 2 - immutable(cannot change)
# Tuple

l1 = []
l1 = list()
l1.append(10)
print(l1)

[10]

In [10]:
# append number in to the list
l1.append(20)
print(l1)

[10, 20]

In [11]:
# Change the value
l1[0]=100
print(l1)

[100, 20]

In [12]:
# Del value from the list
del l1[0]
print(l1)

[20]

In [13]:
# for loop in list
l1=[10,20,30,40]
for element in l1:
    print(element)

10
20
30
40

In [17]:
# list can have duplicates
l1=[10,10,10]
for element in l1:
    print(element)
    print(len(l1))

10
3
10
3
10
3

In [18]:
#set
s1 = set()

In [19]:
#Add values
s1.add(10)
s1.add(10)
s1.add(10)

In [20]:
print(s1)

{10}

In [27]:
# set doesn't have duplicates, no order specication
s1={10,20,30}
s2={20,30}
s3={40, 50}

In [22]:
#print common in S1, S2
print(s1.intersection(s2))

{20, 30}

In [24]:
# validation
print(s1.issuperset(s2))

True

In [25]:
print(s2.issubset(s1))

True

In [28]:
print(s1.isdisjoint(s3))

True

In [29]:
# Dictionry
d1 = {}
d1 = dict()

In [31]:
d1['US'] = "united states"
print(d1)
d1['UK'] = "United Kingdom"
print(d1)

{'US': 'united states'}
{'US': 'united states', 'UK': 'United Kingdom'}

In [32]:
# Overwrite the values
d1['US']="United States of America"

In [33]:
d1={'US':'United States'}

In [34]:
# Use square brackets to get the values
d1['US']

'United States'

In [37]:
# Loop through a dictionary
d1={"US": "United States of America", "IN":"India"}
print(d1)
d1["US"]

{'US': 'United States of America', 'IN': 'India'}

'United States of America'

In [39]:
d1.get("US")

'United States of America'

In [40]:
d1["CN"]

KeyError: 'CN'

In [41]:
d1.get("CN")

In [42]:
print(d1.get("CN"))

None

In [45]:
# Loop through the dictionaries
for k,v in d1.items():
    print(k,v)

US United States of America
IN India

In [46]:
# delete key also delete values
d1

{'US': 'United States of America', 'IN': 'India'}

In [47]:
del d1["IN"]

In [48]:
d1

{'US': 'United States of America'}

In [49]:
# Duplicas doesn't allow, it will overwrite the values
# delete usign popitem
# it delete firt key from the dict
d1

{'US': 'United States of America'}

In [50]:
d1.popitem()

('US', 'United States of America')

In [51]:
d1

{}

In [52]:
# Empty dictory
d1={"US":"United States","IN":"India"}

In [53]:
d1

{'US': 'United States', 'IN': 'India'}

In [54]:
d1.clear()

In [55]:
d1

{}

In [56]:
# Tuple
t1=tuple()
t1=()

In [57]:
t1={1,2,3}

In [58]:
t1[0]

TypeError: 'set' object is not subscriptable

In [59]:
t1 = (1,2,3)

In [60]:
t1[0]

1

In [61]:
t1[1]

2

In [62]:
t1[0]=22

TypeError: 'tuple' object does not support item assignment