In [1]:
import pandas as pd

In [3]:
card=pd.read_csv("https://raw.githubusercontent.com/MatteoM95/Default-of-Credit-Card-Clients-Dataset-Analisys/main/dataset/default_of_credit_card_clients.csv")

In [4]:
card.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [5]:
card.shape

(30000, 25)

In [6]:
card.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [7]:
card.drop("ID",axis=1,inplace=True)

In [8]:
card.select_dtypes("object").columns.to_list()

[]

In [9]:
X = card.drop("default payment next month",axis=1)
Y = card["default payment next month"]

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=0)

In [11]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=16)
model.fit(X_train,Y_train)
Y_pred=model.predict(X_test)
from sklearn.metrics import accuracy_score,confusion_matrix

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [12]:
confusion_matrix(Y_test,Y_pred)

array([[7059,    1],
       [1940,    0]], dtype=int64)

In [13]:
accuracy_score(Y_test,Y_pred)

0.7843333333333333

In [14]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,Y_train)
Y_lr_pred=lr.predict(X_test)
from sklearn.metrics import r2_score
print(r2_score(Y_test,Y_lr_pred))

0.12307830311403367

In [17]:
# export the model
import pickle
with open("D://datascience//credit.ser","wb") as op:
    pickle.dump(model,op)

In [18]:
#Load the model
loadmodel= None
with open("D://datascience//credit.ser","rb") as ip:
    loadmodel=pickle.load(ip)
    
print(loadmodel)

LogisticRegression(random_state=16)

In [19]:
# Print accuracy using existing model
Y_pred_loaded=loadmodel.predict(X_test)
print(accuracy_score(Y_test,Y_pred_loaded))

0.7843333333333333