In [1]:
import pandas as pd

In [31]:
haberman=pd.read_csv("https://raw.githubusercontent.com/deveshSingh06/Exploratory-Data-Analysis-on-Haberman-s-Survival-Data-Set/master/haberman.csv")

In [32]:
haberman.head()

   age  year  nodes  status
0   30    64      1       1
1   30    62      3       1
2   30    65      0       1
3   31    59      2       1
4   31    65      4       1

In [33]:
print(haberman.shape)

(306, 4)

In [34]:
haberman.columns

Index(['age', 'year', 'nodes', 'status'], dtype='object')

In [35]:
X=haberman.drop("status",axis=1)

In [36]:
X

     age  year  nodes
0     30    64      1
1     30    62      3
2     30    65      0
3     31    59      2
4     31    65      4
..   ...   ...    ...
301   75    62      1
302   76    67      0
303   77    65      3
304   78    65      1
305   83    58      2

[306 rows x 3 columns]

In [37]:
Y=haberman["status"]

In [38]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
301    1
302    1
303    1
304    2
305    2
Name: status, Length: 306, dtype: int64

In [39]:
from sklearn.linear_model import LogisticRegression

In [40]:
logreg = LogisticRegression(random_state=16)

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.3,random_state=16)

In [46]:
logreg.fit(X_train, Y_train)

LogisticRegression(random_state=16)

In [47]:
y_pred = logreg.predict(X_test)

In [48]:
res = pd.DataFrame({"actual":Y_test,"predicted":y_pred})

In [49]:
res

     actual  predicted
59        1          2
294       1          1
183       1          1
0         1          1
230       2          1
..      ...        ...
218       1          1
25        1          1
156       2          1
40        1          1
61        1          1

[92 rows x 2 columns]

In [51]:
from sklearn import metrics

cnf_matrix = metrics.confusion_matrix(Y_test, y_pred)
cnf_matrix

array([[71,  2],
       [18,  1]], dtype=int64)

In [52]:
from sklearn.metrics import accuracy_score

In [53]:
accuracy_score(Y_test,y_pred)

0.782608695652174